@model IdentityServerManager.UI.Models.ClientViewModel

@{
    ViewData["Title"] = "Delete Client";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProtocolType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProtocolType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequireClientSecret)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequireClientSecret)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientUri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LogoUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LogoUri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequireConsent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequireConsent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllowRememberConsent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllowRememberConsent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlwaysIncludeUserClaimsInIdToken)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlwaysIncludeUserClaimsInIdToken)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequirePkce)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RequirePkce)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllowPlainTextPkce)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllowPlainTextPkce)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllowAccessTokensViaBrowser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllowAccessTokensViaBrowser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FrontChannelLogoutUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FrontChannelLogoutUri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FrontChannelLogoutSessionRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FrontChannelLogoutSessionRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BackChannelLogoutUri)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BackChannelLogoutUri)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BackChannelLogoutSessionRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BackChannelLogoutSessionRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllowOfflineAccess)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllowOfflineAccess)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdentityTokenLifetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdentityTokenLifetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccessTokenLifetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccessTokenLifetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthorizationCodeLifetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorizationCodeLifetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConsentLifetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConsentLifetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AbsoluteRefreshTokenLifetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AbsoluteRefreshTokenLifetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SlidingRefreshTokenLifetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SlidingRefreshTokenLifetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefreshTokenUsage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefreshTokenUsage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateAccessTokenClaimsOnRefresh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateAccessTokenClaimsOnRefresh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefreshTokenExpiration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefreshTokenExpiration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccessTokenType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccessTokenType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnableLocalLogin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnableLocalLogin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncludeJwtId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncludeJwtId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlwaysSendClientClaims)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlwaysSendClientClaims)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientClaimsPrefix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientClaimsPrefix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PairWiseSubjectSalt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PairWiseSubjectSalt)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
