@model IEnumerable<IdentityServer4.EntityFramework.Entities.Client>

@{
    ViewData["Title"] = "Clients List";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="content table-responsive table-full-width">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Enabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequireConsent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllowAccessTokensViaBrowser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClientClaimsPrefix)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PairWiseSubjectSalt)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <i class="ti-@(item.Enabled ? "check" :  "close")"></i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                    <td>
                        <i class="ti-@(item.RequireConsent ? "check" :  "close")"></i>
                    </td>
                    <td>
                        <i class="ti-@(item.AllowOfflineAccess ? "check" :  "close")"></i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientClaimsPrefix)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>



