@model IdentityServerManager.UI.Models.IdentityResourceViewModel

@{
    ViewData["Title"] = " Identity Resource Details";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Required)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Required)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Emphasize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Emphasize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShowInDiscoveryDocument)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShowInDiscoveryDocument)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
